body{
    margin: 0;
    padding: 0;
}
.nav{
    list-style: none;
    margin-top: 3%;
    font-size: large;
    background: #5fc2cc;;
    margin-right: 80%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
.nav li{
    margin-top: 4px;
    margin-left: 8%;
}
.nav li a{
    text-decoration: none;
    margin-top: 4px;
}
.nav li a:hover{
    color: white;
}
.para{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    color:rgb(131, 9, 202);
    text-decoration:solid;
    }
.profile{
    margin-left: 40%;
}
.profile img{
    height: 25%;
    width: 25%;
    border-radius: 10%;
}